# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Pyhon
1. R
1. Scala

Some of the popular languages that Data Scientists use are:
1. Pyhon
1. R
1. Scala

Some of the popular languages that Data Scientists use are:
1. Numpy
1. Pandas
1. Matplotlib

Some of the popular languages that Data Scientists use are:
1. Numpy
1. Pandas
1. Matplotlib

| Data Science Tools|
| -------------     |
| SQL               |
| Jupyter Notebook  |
| Apache Spark      |

| Data Science Tools|
| -------------     |
| SQL               |
| Jupyter Notebook  |
| Apache Spark      |

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
print ('This a simple arithmetic expression to mutiply then add integers')
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [17]:
print ('This will convert 200 minutes to hours by diving by 60')
200/60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**List popular languages for Data Science :**
* Python
* R
* Scala
* SQL

**List popular languages for Data Science :**
* Python
* R
* Scala
* SQL

## Lakshmi Holla
## Niveditha Pandith
Muhammad Risky Ramadhan

## Lakshmi Holla
## Niveditha Pandith
Muhammad Risky Ramadhan